*{
  box-sizing: border-box;
}

body{
  background-color: #1e1e1e;
  color: white;
  font-family: Verdana;
}

/* Container Pai, os containers texto e elemento herdam as caracteristicas desse container */

.container{
  padding: 10px 10px 10px 10px;
  border: none;
  margin-bottom: 5px;
}