/* Trata as propriedades de fora do container Elemento */

.container .elemento{
  display: flex;
  border: none;
  justify-content: center;
}

/* Trata as propriedades de dentro do container Elemento */

.flex-container{
  display: flex;
  border: 1px solid white;
  width: 200px;
}

.item{
  background-color: blueviolet;
  margin: 5px;
  font-size: 24px;
  text-align: center;
}

/* Trata das propriedades que foram passadas na aula */

.s-1{
  flex-shrink: 1;
}

.s-0{
  flex-shrink: 0;
  flex-basis: 100px;
}

.s-2{
  flex-shrink: 2;

}

.s-3{
  flex-shrink: 3;

}

.fg-1{
  flex-grow: 1;
}