/* Trata as propriedades de fora do container Elemento */

.container .elemento{
  display: flex;
  border: none;
  justify-content: center;
}

/* Trata as propriedades de dentro do container Elemento */

.flex-container{
  display: flex;
  width: 300px;
  border: 1px solid white;
  margin: 10px;
}

.item{
  flex: 1;
  background-color: blueviolet;
  text-align: center;
  font-size: 24px;
  margin: 5px;
  order: 0;
}


/* Trata das propriedades que foram passadas na aula */

.o1{
  order: 1;
}

.o2{
  order: 2;
}

.o3{
  order: 3;
}

.o4{
  order: 4;
}

.column{
  flex-direction: column;
  margin-left: 10px;
}