/* Trata as propriedades de fora do container Elemento */

.container .elemento{
  display: flex;
  border: none;
  justify-content: center;
}

/* Trata as propriedades de dentro do container Elemento */

.flex-container{
  border: 1px solid white;
  display: flex;
  max-width: 300px;
}

.item{
  background-color: blueviolet;
  margin: 5px;
  text-align: center;
  width: 100px;
  line-height: 50px;
  font-size: 24px;
}

/* Trata das propriedades que foram passadas na aula */

.wrap{
  flex-flow: row wrap;
}

.wrap-reverse{
  flex-flow: row wrap-reverse
}

.r-nowrap{
  flex-flow: row-reverse nowrap;
}

.r-wrap{
  flex-flow: row-reverse wrap;
}

.rr-wrap{
  flex-flow: row-reverse wrap-reverse
}

.default{
  flex-flow: row nowrap;
}