/* Trata as propriedades de fora do container Elemento */

.container .elemento{
  display: flex;
  border: none;
  justify-content: center;
}

/* Trata as propriedades de dentro do container Elemento */

.flex-container{
  width: 320px;
  border: 1px solid white;
  display: flex;
  margin: 10px;

}

.item{
  background-color: blueviolet;
  margin: 5px;
  font-size: 24px;
}